
.view {
    font-family: Roboto, serif;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.view * {
    /* height: 100vh; */
}

.side-view {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.side-view > .settings {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.view > .main-content {
    background: orange;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
}

.main-content > .controls {
    background-color : gray;
}

.main-content > .cards-presentation {
    background-color: green;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 1fr 10fr;
    padding: 60px;
}

.cards-presentation > .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards-presentation > .cards > .card {
    background-color: red;
    height: 100px;
    width: 100px;
}


